# History files
.Rhistory
.juliahistory

# Session Data files
.RData
.Rprofile

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*cache/
/figure/
# spark temp data
/metastore_db/

# Temporary files created by R markdown, latex
*.utf8.md
*.knit.md
*.log

# editor backup
*~

# results
*.html
*.csv
*.xcf

