# History files
.Rhistory
.juliahistory

# Session Data files
.RData
.Rprofile

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*cache/
.cache*/
/figure/
# spark temp data
/metastore_db/

# Temporary files created by R markdown, latex
*.utf8.md
*.knit.md
*.log

# editor backup
*~

# results
*.html
*.csv
*.xcf
*.md
*.png
